body{
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: 15px; */
}
.avater{
    width: 150px;
    margin-right: 20px ;
    
}
.card{
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    justify-content: space-around;
    background: rgb(115, 115, 243);
    color: black;
    border-bottom: 6px solid purple;
    border: 5px solid rgb(211, 253, 147);
    border-radius: 10px;

}
.text-wrapper{
    text-align: center;
    font-size: 14px;
}
/* .italic{
    font-style: italic
    /* text-align: center; 
    } */
.border-blue{
    /* border: 1px dotted blue; */
}